boxColorTheme()
     background #222
     color #f4f4f4

buttonsColorTheme()
    background #f4f4f4
    color #222
    padding 10px
    width 30%
    font-size rfs(14px)
    text-decoration none
    cursor pointer
    text-align center
    &:hover
        opacity .5
        text-decoration none

underlineLinkTheme()
     font-size rfs(12px)
     cursor pointer
     text-decoration none
     color #f4f4f4
     &:hover
          text-decoration underline


centerFlex()
    display flex
    align-items center
    justify-content center


